body{
    background-color: hsl(257, 40%, 49%);
    background-image: url( './bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    margin: 50px;
}

.preview{
    display: flex;
    ;
}

#image{
    margin-right: 50px;
}

.writeup{
    color: white;
}

button{
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.icons{
    color: white;
text-align: right;
}

i{
    margin: 7px;
}